<div class="flex items-center h-6 w-6 text-secondary-500 border-2 border-secondary-400 rounded">
  <% if @checked %>
    <div class="w-full h-full bg-secondary-100 items-center justify-between flex">
      <i class="material-icons text-secondary-500" style="font-size: 20px;">check</i>
    </div>
  <% end %>
</div>
